<%= form_with(model: [@conversation, @message], url: conversation_messages_path(@conversation)) do |form| %>
  <% if @message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>


  <section class="input-container">
    <%= form.text_area :text, placeholder: "Send a message", class: "input" %>
    <%= form.submit "➢",  class: "submit" %>
  </section>

<% end %>
