<%= stylesheet_link_tag 'chat', media: 'all'%>
<section class="sidebar">

  <%= link_to "Nova conversa", new_conversation_path, class: "button" %>

  <section class="history">
    <% current_user.conversations.each do |conversation| %>
      <% if conversation.text != "" %>
        <%= link_to conversation.text, conversation, class: "button" %>
      <% end %>
    <% end %>
  </section>

  <%= link_to "logoff", destroy_user_session_path, method: :delete, class: "button" %>
</section>

<section class="content">
  <section class="messages">
    <% @conversation.messages.each do |message| %>
      <p class="message-text"><%= message.text %></p>
      <% if message.response %>
        <p class="response-text"><%= message.response.text %></p>
      <% end %>
    <% end %>
  </section>

  <%= render 'input' %>
</section>








