<style>
    .sidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #f2f2f2;
        /* Outros estilos da barra lateral */
    }

    .content {
        margin-left: 200px; /* Largura da barra lateral */
        /* Outros estilos do conteúdo */
    }
</style>

<div class="sidebar">
  <p style="color: green"><%= notice %></p>
  <h1>Conversations</h1>

  <%= render "form", conversation: Conversation.new, url: new_conversation_path %>

  <div id="conversations">
    <% current_user.conversations.each do |conversation| %>
      <p>
        <%= link_to conversation.text, conversation %>
      </p>
    <% end %>
  </div>

  <%= link_to "logoff", destroy_user_session_path, method: :delete %>
</div>

<div class="content">
<%= yield %>
</div>